.blog {

	// title
	.title-step {
		padding: 9vw 1vw 0;
		h2 {
			margin: 0 0 1.2vw 0;
				line-height: 85%;
				font-size: 4.5vw;
				font-weight: 500;
				text-transform: uppercase;
		}
		.sub {
			margin: 0;
				font-weight: 300;
				font-size: 1.2vw;
		}
	}

	// list of news
	.items-wrapper {
		width: calc(16.666666666666668% *4);
		margin: 7vw auto 1vw;
		padding: 0 16.666666666666668% 0 0;
		.item {
			position: relative;
			background: $color-2;
			margin: 0 5px 8px 5px;
			padding: 3vw 2vw;
			&[type="standard"] {
				width: calc(25% - 10px);
			}
			&[type="landscape"] {
				width: calc(50% - 9px);
			}

			.date {
				margin: 0;
					font-size: 14px;
			}
			.title {
				margin: 2vw 0 4vw;
					font-size: 16px;
					line-height: 160%;
					font-weight: 500;
			}
			.more {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
	}

	// image
	.image-wrapper {
		pointer-events: none;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		.image {
			position: absolute;
			&.image-1 { display: none;
				top: 30%;
				left: calc(16.666666666666668% * 5 + 4px);
				width: calc(16.666666666666668% * 1 - 8px);
				height: 30%;
			}
			&.image-2 {
				top: 20%;
				left: calc(16.666666666666668% * 5 + 4px);
				width: calc(16.666666666666668% - 10px);
				height: 60%;
				-webkit-filter: grayscale(100%);
				opacity: 0.1;
			}
		}
	}
}
