.step-3 {

	// title
	.title-step {
		margin-left: 17%;
		padding: 8vw 1vw 0;
		h2 {
			margin: 0 0 3vw 0;
			position: relative;
				font-size: 3.5vw;
				line-height: 85%;
			.num {
				font-size: 16vw;
				letter-spacing: -3vw;
				color: #d2d2d2;
				position: absolute;
				top: 0;
				left: 0;
				transform: translate(-65%, -44%);
				z-index: -1;
			}
		}
		.text {
			position: relative;
			left: 3vw;
			max-width: 25vw;
				line-height: 160%;
			p {
				margin: 0;
			}
			.sub-1 {
				margin: 4vw 0 8px 0;
			}
			.sub-2 {
				margin: 2vw 0 8px 0;
			}
		}
	}

	// image
	.item-wrapper {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		.item {
			position: absolute;
			left: 0;
			&.item-1 {
				bottom: 0%;
				left: 4px;
				height: 45%;
				width: calc(16.666666666666668% * 1 - 9px);
				-webkit-filter: grayscale(100%);
				opacity: 0.1;
			}
			&.item-2 {
				bottom: 0;
				left: calc(16.666666666666668% * 3 + 3px);
				height: 30%;
				width: calc(16.666666666666668% * 1 - 8px);
			}
			&.item-3 {
				bottom: 50%;
				left: calc(16.666666666666668% * 3 + 3px);
				height: 40%;
				width: calc(16.666666666666668% * 1 - 8px);
			}
			&.item-4 {
				bottom: 0;
				left: calc(16.666666666666668% * 4 + 4px);
				height: 60%;
				width: calc(16.666666666666668% * 1 - 9px);
				-webkit-filter: grayscale(100%);
				opacity: 0.1;
			}
			&.item-5 {
				top: 0;
				left: calc(16.666666666666668% * 5 + 4px);
				height: 50%;
				width: calc(16.666666666666668% - 8px);
			}
		}
	}
}