.step-2 {

	// title
	.title-step {
		margin-left: 15%;
		padding: 11vw 1vw 0;
		h2 {
			margin: 0 0 3vw 0;
			position: relative;
				font-size: 3vw;
				line-height: 85%;
			.num {
				position: absolute;
				top: 0;
				left: 0;
				transform: translate(-70%, -77%);
				z-index: -1;
					font-size: 18vw;
					letter-spacing: -4vw;
					color: #e2e2e2;
			}
		}
		.text {
			position: relative;
			left: 6vw;
			max-width: 15vw;
				line-height: 160%;
			p {
				margin: 0;
			}
			.sub-1 {
				margin: 4vw 0 8px 0;
			}
			.sub-2 {
				margin: 2vw 0 8px 0;
			}
		}
	}

	// image
	.item-wrapper {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		.item {
			position: absolute;
			left: 0;
			&.item-1 { display: none;
				bottom: 0%;
				left: 4px;
				height: 30%;
				width: calc(16.666666666666668% * 1 - 9px);
			}
			&.item-2 { display: none;
				bottom: 0;
				left: calc(16.666666666666668% * 2 + 3px);
				height: 30%;
				width: calc(16.666666666666668% * 1 - 8px);
			}
			&.item-3 {
				bottom: 0;
				left: calc(16.666666666666668% * 3 + 3px);
				height: 0%;
				width: calc(16.666666666666668% * 2 - 8px);
				transition: height $duration 0s cubic-bezier(0.52, 0.09, 0.12, 1);
				&.animated {
					height: 65%;
				}
			}
			&.item-4 { display: none;
				top: 0;
				left: calc(16.666666666666668% * 5 + 4px);
				height: 70%;
				width: calc(16.666666666666668% * 1 - 9px);
			}
			&.item-5 { display: none;
				top: 0;
				left: calc(16.666666666666668% * 5 + 4px);
				height: 40%;
				width: calc(16.666666666666668% - 8px);
			}
		}
	}
}