<!-- title -->
<div class="title-step">
	<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, vel!</h2>
</div>

<!-- body -->
<div class="content">
	<div class="date">
		<p>12 квітня 2016 р.</p>
	</div>
	<div class="wrapper">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum ipsam blanditiis sint eius sapiente corrupti optio vero natus numquam nam.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis molestiae in quaerat ratione fugiat, cumque minus aut necessitatibus veritatis sunt possimus eius. Soluta eius corporis eos expedita libero delectus earum ullam odio, a porro, perspiciatis, et magni distinctio est, molestias aspernatur eligendi accusantium debitis voluptate iusto aliquam harum eum. Beatae!</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, eius, in. At, sint accusamus dicta excepturi itaque, maxime nihil distinctio veritatis maiores adipisci sequi quas tempora vero aliquid. Suscipit consectetur officia ut ipsum corporis culpa molestiae necessitatibus quaerat minima odit? Ab reprehenderit expedita id facere, dolorem consequuntur numquam voluptates voluptatem, delectus eos dignissimos qui. Ut vel, ducimus consequuntur. Unde, illo!</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis magnam nostrum explicabo vel vitae nesciunt nemo labore, qui, sit recusandae?</p>
		<ul>
			<li>Delectus earum ullam odio</li>
			<li>At, sint accusamus dicta excepturi itaque, maxime nihil distinctio veritatis maiores adipisci sequi quas</li>
			<li>labore, qui, sit recusandae?</li>
			<li>Lorem ipsum dolor sit amet</li>
		</ul>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis molestiae in quaerat ratione fugiat, cumque minus aut necessitatibus veritatis sunt possimus eius. Soluta eius corporis eos expedita libero delectus earum ullam odio, a porro, perspiciatis, et magni distinctio est, molestias aspernatur eligendi accusantium debitis voluptate iusto aliquam harum eum. Beatae!</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, eius, in. At, sint accusamus dicta excepturi itaque, maxime nihil distinctio veritatis maiores adipisci sequi quas tempora vero aliquid. Suscipit consectetur officia ut ipsum corporis culpa molestiae necessitatibus quaerat minima odit? Ab reprehenderit expedita id facere, dolorem consequuntur numquam voluptates voluptatem, delectus eos dignissimos qui. Ut vel, ducimus consequuntur. Unde, illo!</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis magnam nostrum explicabo vel vitae nesciunt nemo labore, qui, sit recusandae?</p>
		<ol>
			<li>Delectus earum ullam odio</li>
			<li>At, sint accusamus dicta excepturi itaque, maxime nihil distinctio veritatis maiores adipisci sequi quas</li>
			<li>labore, qui, sit recusandae?</li>
			<li>Lorem ipsum dolor sit amet</li>
		</ol>
	</div>
</div>