.magellan {
	z-index: 10;
	position: fixed;
	top: 0;
	left: 0;
	width: 60px;
	height: 100%;
	//outline: 1px solid red;
	display: flex;
	align-items: center;
	visibility: hidden;
	&.show {
		visibility: visible;
	}
	.wrapper {
		width: 100%;
		> span {
			//outline: 1px solid red;
			display: block;
			margin: 3vh 0;
			padding: 0 7px 0 0;
			&.point {
				text-align: right;
				span {
					display: inline-block;
					width: 4px;
					height: 4px;
					background: #848484;
					margin: 0 0 3px 0;
				}
			}
			&.step {
				cursor: pointer;
				position: relative;
				transform: translateX(100%);
				padding: 0 0 0 40px;
				margin: 0 20px 0 0;
					text-transform: uppercase;
					font-size: 14px;
				&.active {
					color: #5498d5;
					&:after {
						background: #5498d5;
					}
				}
				&:after {
					content: '';
					position: absolute;
					top: 50%;
					left: 0;
					width: 20px;
					height: 1px;
					background: #848484;
				}
			}
		}
	}
}