.step-2 {
	pointer-events: none;

	.wrapper {
		position: relative;
		width: 100%;
		height: 100%;
	}

	// title
	.title-step {
		opacity: 0;
		transform: translateY(20px);
		margin-left: 10%;
		transition-property: opacity, transform;
		transition-timing-function: $timing-ease;
		transition-duration: $duration;
		h2, .sub {
			margin: 0;
		}
		h2 {
			position: relative;
			left: -3px;
		}
	}

	// buttons
	.buttons-wrapper {
		z-index: 1;
		position: relative;
		top: 3vw;
		width: 16.666666666666668%;
		margin-left: 10%;
		padding: 0 1vw;
		.home-button {
			opacity: 0;
			transform: translateY(20px);
			transition-property: opacity, transform;
			transition-timing-function: $timing-ease;
			transition-duration: $duration;
			&:not(:last-child) {
				margin: 3vw 0;
			}
			> span {
				margin: 6px 0;
				display: block;
					text-transform: uppercase;
					font-size: 0.8vw;
					line-height: 120%;
				> span {
					cursor: pointer;
					&:hover, &.active {
						color: #0082ca;
					}
				}
				&.top {
					margin: 0 0 14px 0;
						font-size: 1.1vw;
						font-weight: 400;
				}
			}
		}
	}

	// visualization
	.visualization {
		position: absolute;
		bottom: 0;
		left: calc(16.666666666666668% * 2 + 4px);
		width: calc(16.666666666666668% * 2 - 9px);
		height: 0;
		overflow: hidden;
		transition-property: height;
		transition-timing-function: $timing-ease;
		transition-duration: $duration;
		.viz-wrapper {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: calc(100vh - 2vw);
			.image {
				width: calc(32vw - 2px);
				height: 32vw;
				position: absolute;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				margin: 0;
			}
		}

		// content
		.content {

		}

		// button
		.more {
			position: absolute;
			right: 7vw;
			bottom: 4vw;
			border: 1px solid $color-1;
			padding: 6px 25px 7px;
			cursor: pointer;
				color: $color-1;
		}
	}

	// container
	.container {
		position: absolute;
		bottom: 0;
		right: 0;
		width: calc(16.666666666666668% * 2 - 4px);
		height: 0;
		overflow: hidden;
		transition-property: height;
		transition-timing-function: $timing-ease;
		transition-duration: $duration;
		.wrapper {
			position: absolute;
			bottom: 0;
			height: calc(100vh - 2vw);
			background: #ebebeb;
			overflow: hidden;
		}
		.wrapper-short {
			left: 0;
			transition: width 1s 0s ease;
			z-index: 1;
			width: calc(32vw + 8px);
			> div {
				padding: 0 0 0 7vw;
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: calc(32vw + 8px);
			}

			// title
			h3 {
				position: absolute;
				top: 4.5vw;
				margin: 0;
					font-size: 42px;
					text-transform: uppercase;
				span {
					display: block;
					margin: 4px 0 0 0;
						font-weight: 300;
						font-size: 20px;
						line-height: 140%;
				}
			}

			// start items
			.start-items {
				height: 100%;
				padding: 9vw 0 2vw 0;
				.item {
					//outline: 1px solid red;
					display: table;
					width: 100%;
					height: 25%;
					margin: 0 0 0 -4.5vw;
					padding: 0 0 0 4.5vw;
					&:nth-child(1) {
						background: image-url('ico.png') no-repeat center left;
					}
					&:nth-child(2) {
						background: image-url('ico.png') no-repeat center left;
					}
					&:nth-child(3) {
						background: image-url('ico.png') no-repeat center left;
					}
					&:nth-child(4) {
						background: image-url('ico.png') no-repeat center left;
					}
					> div {
						display: table-cell;
						vertical-align: middle;
					}
				}
				h4 {
					margin: 0;
						text-transform: uppercase;
						font-size: 1vw;
				}
				p {
					margin: 0;
						line-height: 120%;
						color: #8a8a8a;
				}
			}
		}
		.wrapper-details {
			transition: width 1.5s .8s ease;
			right: 0;
			width: 0;
			.content {
				width: calc(64vw + 22px);
				padding: 1vw 0;
				> div {
					height: 23vh;
					padding: 1px 1vw 1vw 3vw;
					//outline: 1px solid red;
					h3 {
						position: relative;
						margin: 1.5vw 0;
							font-size: 20px;
							text-transform: uppercase;
						&:after {
							content: '';
							position: absolute;
							top: 50%;
							width: 10000px;
							height: 1px;
							background: #d7d7d7;
							margin: 0 0 0 16px;
						}
					}
					.texh-wrapper {
						font-size: 0;
						span {
							display: inline-block;
							vertical-align: top;
							padding: 3vw 1vw 0;
							max-width: 12vw;
							min-height: 3vw;
							min-width: 6vw;
							outline: 1px solid red;
							background-size: auto 2.6vw !important;
								font-size: 16px;
								text-align: center;
								line-height: 130%;

							// характеристики
							&.vohnestiykist { background: image-url('ico.png') no-repeat center top; }
							&.lehkist { background: image-url('ico.png') no-repeat center top; }
							&.morozostiykist { background: image-url('ico.png') no-repeat center top; }
							&.zvukoizolyatsiya { background: image-url('ico.png') no-repeat center top; }

							// призначення
							&.torhovelni { background: image-url('ico.png') no-repeat center top; }
							&.promyslovi { background: image-url('ico.png') no-repeat center top; }
							&.nezhytlovi { background: image-url('ico.png') no-repeat center top; }
							&.nyzka-temperatura { background: image-url('ico.png') no-repeat center top; }
							&.protypozhezhna-bezpeka { background: image-url('ico.png') no-repeat center top; }

							// сертифікати
							&.iso { background: image-url('ico.png') no-repeat center top; }
							&.iso-2 { background: image-url('ico.png') no-repeat center top; }
							&.cc { background: image-url('ico.png') no-repeat center top; }
							&.test { background: image-url('ico.png') no-repeat center top; }
							&.all-documents { background: image-url('ico.png') no-repeat center top; }

							// технічний каталог
							&.download { background: image-url('ico.png') no-repeat center top; }
						}
					}
				}
			}
		}

		&.open-details {
			overflow: visible;
			.wrapper-short {
				width: 0;
			}
			.wrapper-details {
				width: calc(64vw + 22px);
			}
		}
	}
}
