.step-3 {
	pointer-events: none;

	// title
	.title-step {
		position: relative;
		z-index: 2;
		padding: 0;
		margin: 5vw 1vw 0 18%;
		opacity: 0;
		transform: translateY(20px);
		transition-property: opacity, transform;
		transition-timing-function: $timing-ease;
		transition-duration: $duration;
		h2, .sub {
			margin: 0;
		}
	}

	// items
	.item-wrapper {
		pointer-events: none;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		.item {
			position: absolute;
			transition-property: height;
			transition-timing-function: $timing-ease;
			transition-duration: $duration;
			&.item-1 {
				top: 50%;
				left: -14px;
				height: 0;
				width: calc(16.666666666666668% * 1 + -3px);
				-webkit-filter: grayscale(100%);
				opacity: 0.1;
			}
			&.item-2 {
				top: 70%;
				left: calc(16.666666666666668% - 9px);
				height: 0;
				width: calc(16.666666666666668% * 2 + 3px);
			}
			&.item-3 {
				top: 30%;
				left: calc(16.666666666666668% * 3 + 3px);
				height: 0;
				width: calc(16.666666666666668% - 2px);
				-webkit-filter: grayscale(100%);
				opacity: 0.1;
			}
		}
	}
}
