html,
body {
	height: 100%;
}
body {
	//padding: 24px;
	padding: 1vw;
		font-family: $text;
		font-weight: 300;
		font-size: 16px;
		line-height: 180%;
}
body > * {
	transition: opacity .5s;
}
body:not(.loaded) > * {
	opacity: 0;
}

a {
    outline: none !important;
}
p {
	margin: 32px 0;
		line-height: 160%;
}
