footer {
	padding: 1vw 0 2vw 1vw;
		color: #8c8c8c;
		line-height: 100%;
	a {
		color: #8c8c8c;
		text-decoration: none;
	}

	// logo
	.logo {
		margin: 0 0 34px 0;
		width: 100px;
		height: 100px;
		display: table;
		background: #222;			display: none;
		> div {
			display: table-cell;
			vertical-align: middle;
				text-align: center;
			img {
				width: 50px;
			}
		}
	}

	// // menu
	// .menu-wrapper {
	// 	padding: 32px 0 34px;
	// 	margin: 0;
	// 		font-size: 0;
	// 	li {
	// 		display: inline-block;
	// 		vertical-align: top;
	// 			font-size: 16px;
	// 		a {
	// 			padding: 0 1vw;
	// 				text-transform: uppercase;
	// 		}
	// 	}
	// }

	// copy
	.copyright {
		margin: 0;
			font-size: 12px;
	}

	// developer
	.developer {
		margin: 4px 0 0 0;
			font-size: 12px;
		a {
			font-weight: 400;
		}
	}
}