<div class="form-wrapper">
	<div class="tab">
		<div class="cel">
			<form method="POST" id="formx" action="javascript:void(null);" onsubmit="form()" autocomplete="off">
				<input class="form-cont" name="name" type="text" data-title="form" key="name" placeholder="Ім'я" required="">
				<input class="form-cont" name="mail-phone" type="email-phone" data-title="form" key="mail-phone" placeholder="E-mail / phone" required="">
				<textarea class="form-cont" name="message" id="" cols="30" rows="7" key="text" data-title="form" placeholder="Текст повідомлення" required=""></textarea>
				<input class="button form-cont" data-title="form" type="submit" key="submit" value="Надіслати">
			</form>
		</div>
	</div>
</div>