<div class="menu-wrapper">
	<ul class="menu">
		<li>
			<span>
				<a href="#">
					<span class="wrapper">
						<span class="tab">
							<span class="cell">
								<span class="description">Сендвіч-панелі, стінові, покрівельні, комплектуючі, технічний каталог, сертифікати</span>
								<span class="num">01</span>
								<span class="name">Продукція</span>
							</span>
						</span>
					</span>
				</a>
			</span>
		</li>
		<li>
			<span>
				<a href="#">
					<span class="wrapper">
						<span class="tab">
							<span class="cell">
								<span class="description">Компанія, історія, відгуки. Все, що ви повинні знати про нас</span>
								<span class="num">02</span>
								<span class="name">Компанія</span>
							</span>
						</span>
					</span>
				</a>
			</span>
		</li>
		<li>
			<span>
				<a href="#">
					<span class="wrapper">
						<span class="tab">
							<span class="cell">
								<span class="description">Монтаж, рекомендації, монтажні бригади, інструкція по монтажу</span>
								<span class="num">03</span>
								<span class="name">Монтаж</span>
							</span>
						</span>
					</span>
				</a>
			</span>
		</li>
		<li>
			<span>
				<a href="#">
					<span class="wrapper">
						<span class="tab">
							<span class="cell">
								<span class="description">Галерея реалізованих об’єктів</span>
								<span class="num">04</span>
								<span class="name">Об'єкти</span>
							</span>
						</span>
					</span>
				</a>
			</span>
		</li>
		<li>
			<span>
				<a href="#">
					<span class="wrapper">
						<span class="tab">
							<span class="cell">
								<span class="description">Статті, новини, корисна інформація</span>
								<span class="num">05</span>
								<span class="name">Статті</span>
							</span>
						</span>
					</span>
				</a>
			</span>
		</li>
		<li>
			<span>
				<a href="#">
					<span class="wrapper">
						<span class="tab">
							<span class="cell">
								<span class="description">Зв'язок з нами, зробити замовлення!</span>
								<span class="num">06</span>
								<span class="name">Контакти</span>
							</span>
						</span>
					</span>
				</a>
			</span>
		</li>
	</ul>
</div>