<div class="menu-wrapper">
	<ul class="menu">
		<li>
			<span>
				<a href="#">
					<span class="wrapper">
						<span class="tab">
							<span class="cell">
								<span class="description">Перелік реалізованих нами проектів</span>
								<span class="num">01</span>
								<span class="name">Продукція</span>
							</span>
						</span>
					</span>
				</a>
			</span>
		</li>
		<li>
			<span>
				<a href="#">
					<span class="wrapper">
						<span class="tab">
							<span class="cell">
								<span class="description">Коротко про нас та нацу мету</span>
								<span class="num">02</span>
								<span class="name">Компанія</span>
							</span>
						</span>
					</span>
				</a>
			</span>
		</li>
		<li>
			<span>
				<a href="#">
					<span class="wrapper">
						<span class="tab">
							<span class="cell">
								<span class="description">Інформація про монтажні послуги</span>
								<span class="num">03</span>
								<span class="name">Монтаж</span>
							</span>
						</span>
					</span>
				</a>
			</span>
		</li>
		<li>
			<span>
				<a href="#">
					<span class="wrapper">
						<span class="tab">
							<span class="cell">
								<span class="description">Реалізовані об'єкти впродовж останніх років</span>
								<span class="num">04</span>
								<span class="name">Об'єкти</span>
							</span>
						</span>
					</span>
				</a>
			</span>
		</li>
		<li>
			<span>
				<a href="#">
					<span class="wrapper">
						<span class="tab">
							<span class="cell">
								<span class="description">Корисна інформаіця про нашу продукцію</span>
								<span class="num">05</span>
								<span class="name">Статті</span>
							</span>
						</span>
					</span>
				</a>
			</span>
		</li>
		<li>
			<span>
				<a href="#">
					<span class="wrapper">
						<span class="tab">
							<span class="cell">
								<span class="description">Як з нами звязатися</span>
								<span class="num">06</span>
								<span class="name">Контакти</span>
							</span>
						</span>
					</span>
				</a>
			</span>
		</li>
	</ul>
</div>