<div class="step-3" position="" step="">
	<div>

		<!-- text -->
		<div class="title-step">
			<div class="title-1">
				<h2>Сучасне<br>виробництво</h2>
				<p>Італійське обладнання останнього, п'ятого покоління робить процес виготовлення повністю автоматизованим</p>
			</div>
			<div class="title-2">
				<h2>Професійний<br>монтаж</h2>
				<p>15 монтажних команд, які вже 14 років монтують будь яку сендвіч панель</p>
			</div>
			<div class="title-3">
				<h2>Реалізовані<br>проекти</h2>
			</div>
		</div>

		<!-- photo -->
		<div class="item-wrapper">
			<div class="item item-1" style="background:url('pictures/img5.jpg') no-repeat center/cover fixed"></div>
			<div class="item item-2" style="background:url('pictures/img5.jpg') no-repeat center/cover fixed"></div>
		</div>

		<!-- video -->
		<div class="video-wrapper">
			<div class="video video-1">
				<div>
					<video id="video-home-1" class="video-home" preload="none" loop>
						<source src="video/video1.mp4" type="video/mp4">
					</video>
				</div>
			</div>
			<div class="video video-2">
				<div>
					<video id="video-home-2" class="video-home" preload="none" loop>
						<source src="video/video1.mp4" type="video/mp4">
					</video>
				</div>
			</div>
			<div class="video video-3">
				<div>
					<video id="video-home-3" class="video-home" preload="none" loop>
						<source src="video/video1.mp4" type="video/mp4">
					</video>
				</div>
			</div>
		</div>

		<!-- slider -->
		<div class="slider-wrapper">
			<div class="items">
				{{#home-project.item}}
				<div class="item {{{class}}}">
					<div class="img img-1" style="background:url('{{{image}}}') no-repeat center/cover fixed"></div>
					<div class="img img-2" style="background:url('{{{image}}}') no-repeat center/cover fixed"></div>
					<div class="description">
						<div class="content-wrapper">
							<h3>{{{title}}}</h3>
							<p><span>Наповнювач: </span>{{{description-1}}}</p>
							<p><span>Площа: </span>{{{description-2}}} кв. м.</p>
							<p><span>Рік: </span>{{{description-3}}} р.</p>
							<p class="text">{{{text}}}</p>
						</div>
					</div>
				</div>
				{{/home-project.item}}
			</div>
			<div class="controls">
				<div>
					<div>
						<div class="controll prev"></div>
						<div class="controll next"></div>
					</div>
				</div>
			</div>
			<div class="pagination">
				<div class="point point-1"></div>
				<div class="point point-2"></div>
				<div class="point point-3"></div>
				<div class="point point-4"></div>
			</div>
		</div>

	</div>
</div>
