<div class="step step-3">
	<div>

		<!-- text -->
		<div class="title-step">
			<h2>Сучасне</h2>
			<p class="sub">виробництво</p>
			<div class="text">
				<p>Італійське обладнання останнього, п'ятого покоління робить процес виготовлення повністю автоматизованим</p>
			</div>
		</div>

		<!-- photo -->
		<div class="item-wrapper">
			<div class="item item-1" style="background:url('pictures/img5.jpg') no-repeat center/cover fixed"></div>
			<div class="item item-2" style="background:url('pictures/img5.jpg') no-repeat center/cover fixed"></div>
			<div class="item item-3" style="background:url('pictures/img5.jpg') no-repeat center/cover fixed"></div>
		</div>

	</div>
</div>
