<div class="step-4">
	<div class="title-step">
		<h2>Контакти</h2>
	</div>

	<!-- address -->
	<div class="address-wrapper">
		<div class="address address-1">
			<div>
				<div>
					<p class="city">м. Червоноград</p>
					<p class="text">
						(03249) 4-78-89 <br>
						termobud@bis.net.ua
					</p>
				</div>
			</div>
		</div>
		<div class="address address-2">
			<div>
				<div>
					<p class="city">м. Тернопіль</p>
					<p class="text">
						(03249) 4-78-89 <br>
						termobud@bis.net.ua
					</p>
				</div>
			</div>
		</div>
		<div class="address address-3">
			<div>
				<div>
					<p class="city">с. Кринички</p>
					<p class="text">
						Миколаївська область <br>
						(03249) 4-78-89 <br>
						termobud@bis.net.ua
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
