<div class="step step-4">
	<div>

		<!-- text -->
		<div class="title-step">
			<div class="title title-2">
				<div>
					<p class="sub">Професійний</p>
					<h2>монтаж</h2>
					<div class="text">
						<p>15 монтажних команд, які вже 14 років монтують будь яку сендвіч панель</p>
					</div>
				</div>
			</div>
		</div>

		<!-- video -->
		<div class="video-wrapper">
			<div class="video video-1">
				<div>
					<video id="video-home-1" class="video-home" preload="none" loop>
						<source src="video/video1.mp4" type="video/mp4">
					</video>
				</div>
			</div>
			<div class="video video-2">
				<div>
					<video id="video-home-2" class="video-home" preload="none" loop>
						<source src="video/video1.mp4" type="video/mp4">
					</video>
				</div>
			</div>
			<div class="video video-3">
				<div>
					<video id="video-home-3" class="video-home" preload="none" loop>
						<source src="video/video1.mp4" type="video/mp4">
					</video>
				</div>
			</div>
		</div>

	</div>
</div>
