<div class="step step-2">
	<div class="wrapper">
		<div class="title-step">
			<h2><span class="num">14</span>років<br>досвіду</h2>
			<div class="text">
				<p class="sub sub-1">200 кв.м/день</p>
				<p>швидкість монтажу стінових сендвіч панелей</p>
				<p class="sub sub-2">300 кв.м/день</p>
				<p>швидкість монтажу даховтх сендвіч панелей</p>
			</div>
		</div>
		<div class="item-wrapper">
			<div class="wow_ item item-1" style="background:url('{{{about.image-1}}}') no-repeat center/cover fixed"></div>
			<div class="wow_ item item-2" style="background:url('{{{about.image-1}}}') no-repeat center/cover fixed"></div>
			<div
				data-0="transform:translateY(900px);" data-top="transform:translateY(-1600px);"
				class="wow_ item item-3" style="background:url('{{{about.image-1}}}') no-repeat center/cover fixed"></div>
			<div class="wow_ item item-4" style="background:url('{{{about.image-1}}}') no-repeat center/cover fixed"></div>
			<div class="wow_ item item-5" style="background:url('{{{about.image-1}}}') no-repeat center/cover fixed"></div>
		</div>
	</div>
</div>