<div class="step step-4">
	<div class="wrapper">
		<div class="title-step">
			<h2>Напишіть<br>нам</h2>
			<div class="text">
				<p class="sub">Ми готові допомогти вам<br>в будь-якому питанню</p>
				<p><a href="#" class="button">Задати питання</a></p>
			</div>
		</div>
		<div class="item-wrapper">
			<div class="wow_ item item-1" style="background:url('{{{about.image-1}}}') no-repeat center/cover fixed"></div>
			<div 
			data-0="transform:translateY(1500px);" data-top="transform:translateY(-100px);" 
			class="wow_ item item-2" style="background:url('{{{about.image-1}}}') no-repeat center/cover fixed"></div>
			<div 
			data-0="transform:translateY(200px);" data-top="transform:translateY(0px);" 
			class="wow_ item item-3" style="background:url('{{{about.image-1}}}') no-repeat center/cover fixed"></div>
			<div class="wow_ item item-4" style="background:url('{{{about.image-1}}}') no-repeat center/cover fixed"></div>
			<div class="wow_ item item-5" style="background:url('{{{about.image-1}}}') no-repeat center/cover fixed"></div>
		</div>
	</div>
</div>