<div class="step step-3">
	<div class="wrapper">
		<div class="title-step">
			<h2>Продукція</h2>
			<div class="text">
				<p class="sub">доставляється з усіма<br>комплектуючими<br>для монтажу</p>
				<p><a href="#" class="button">Інстрцкція з монтажу</a></p>
			</div>
		</div>
		<div class="item-wrapper">
			<div class="item item-1" style="background:url('{{{about.image-1}}}') no-repeat center/cover fixed"></div>
			<div class="item item-2" style="background:url('{{{about.image-1}}}') no-repeat center/cover fixed"></div>
			<div class="item item-3">
				<div class="video">
					<video id="video-about-1" preload="none" loop autoplay>
						<source src="video/video2.mp4" type="video/mp4">
					</video>
				</div>
			</div>
			<div class="item item-4" style="background:url('{{{about.image-1}}}') no-repeat center/cover fixed"></div>
			<div class="item item-5" style="background:url('{{{about.image-1}}}') no-repeat center/cover fixed"></div>
		</div>
	</div>
</div>