<div class="step step-4">
	<div class="wrapper">
		<div class="title-step">
			<h2>Напишіть нам</h2>
			<div class="text">
				<p class="sub">Ми готові допомогти вам<br>в будь-якому питанню</p>
				<p><a href="#" class="button">Задати питання</a></p>
			</div>
		</div>
		<div class="item-wrapper">
			<div class="item item-1" style="background:url('{{{about.image-1}}}') no-repeat center/cover fixed"></div>
			<div class="item item-2" style="background:url('{{{about.image-1}}}') no-repeat center/cover fixed"></div>
			<div class="item item-3" style="background:url('{{{about.image-1}}}') no-repeat center/cover fixed"></div>
			<div class="item item-4" style="background:url('{{{about.image-1}}}') no-repeat center/cover fixed"></div>
			<div class="item item-5" style="background:url('{{{about.image-1}}}') no-repeat center/cover fixed"></div>
		</div>
	</div>
</div>