<div class="step step-1">
	<div class="wrapper">
		<div class="title-step">
			<h2><span class="num">15</span>монтажних<br>бригад</h2>
			<div class="text">
				<p>Ліцензія на право будівельної діяльності АВ №589701 від 27.07.2011р.</p>
			</div>
		</div>
		<div class="item-wrapper">
			<div class="item item-1" style="background:url('{{{about.image-1}}}') no-repeat center/cover fixed"></div>
			<div class="item item-2" style="background:url('{{{about.image-1}}}') no-repeat center/cover fixed"></div>
			<div class="item item-3" style="background:url('{{{about.image-1}}}') no-repeat center/cover fixed"></div>
			<div class="item item-4" style="background:url('{{{about.image-1}}}') no-repeat center/cover fixed"></div>
			<div class="item item-5" style="background:url('{{{about.image-1}}}') no-repeat center/cover fixed"></div>
		</div>
	</div>
</div>