<div class="step step-2">
	<div class="wrapper">
		<div class="title-step">
			<h2>"PUMA"</h2>
			<div class="text">
				<p class="sub sub-1">Італійське обладнання</p>
				<p>останнього (п’ятого) покоління</p>
				<p class="sub sub-2">Автоматизований</p>
				<p>процес виробництва</p>
			</div>
		</div>
		<div class="item-wrapper">
			<div class="item item-1" style="background:url('{{{about.image-3}}}') no-repeat center/cover fixed"></div>
			<div class="item item-2" style="background:url('{{{about.image-4}}}') no-repeat center/cover fixed"></div>
			<div class="item item-3" style="background:url('{{{about.image-5}}}') no-repeat center/cover fixed"></div>
		</div>
	</div>
</div>