<div class="step step-1">
	<div class="wrapper">
		<div class="title-step">
			<h2>Три заводи</h2>
			<div class="text">
				<p class="sub"> виготовляємо всі види сендвіч панелей</p>
				<p><span>м. Червоноград</span>, Львівська обл.<br>
					<span>с. Кринички</span>, Миколаївська обл.<br>
					<span>м. Тернопіл</span>
				</p>
				<p>Виготовляється 3 млн. кв. м. сендвіч-плити<br>за рік на трьох заводах</p>
			</div>
		</div>
		<div class="item-wrapper">
			<div class="item item-1" style="background:url('{{{about.image-1}}}') no-repeat center/cover fixed"></div>
			<div class="item item-2">
				<div class="video">
					<video id="video-about-1" preload="none" loop autoplay>
						<source src="video/video4.mp4" type="video/mp4">
					</video>
				</div>
			</div>
			<div class="item item-3" style="background:url('{{{about.image-1}}}') no-repeat center/cover fixed"></div>
			<div class="item item-4" style="background:url('{{{about.image-1}}}') no-repeat center/cover fixed"></div>
		</div>
	</div>
</div>
