<div class="step step-5">
	<div class="wrapper">
		<div class="title-step">
			<h2>Відгуки</h2>
			<div class="text">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem quasi, at. Ab praesentium quos natus!</p>
			</div>
		</div>
	</div>
	<div class="reviews-wrapper">
		<div class="items">
			{{#reviews.item}}
			<div class="item {{{class}}}">
				<div class="photo">
					<div style="background:url('{{{photo}}}') no-repeat center/cover"></div>
				</div>
				<div class="content">
					<div>
						<p class="name">{{{name}}}</p>
						<p class="office">{{{office}}}</p>
						<p class="text">{{{text}}}</p>
					</div>
				</div>
			</div>
			{{/reviews.item}}
		</div>
		<div class="controls">
			<div>
				<div>
					<div class="controll prev"></div>
					<div class="controll next"></div>
				</div>
			</div>
		</div>
	</div>
</div>