<div class="step step-3">
	<div class="wrapper">
		<div class="title-step">
			<h2>Доставка</h2>
			<div class="text">
				<p>частинами до часу монтажу</p>
			</div>
			<p class="sub">17 власних авто</p>
			<div class="text">
				<p>Наш інженер веде всі проекти<br>від подачі заявки до монтажу</p>
			</div>
		</div>
		<div class="item-wrapper">
			<div class="item item-1" style="background:url('{{{about.image-6}}}') no-repeat center/cover fixed"></div>
			<div class="item item-2" style="background:url('{{{about.image-7}}}') no-repeat center/cover fixed"></div>
			<div class="item item-3" style="background:url('{{{about.image-8}}}') no-repeat center/cover fixed"></div>
			<div class="item item-4">
				<div class="video">
					<video id="video-about-2" preload="none" loop autoplay>
						<source src="video/video5.mp4" type="video/mp4">
					</video>
				</div>
			</div>
		</div>
	</div>
</div>
