<div class="step step-4">
	<div class="wrapper">
		<div class="title-step">
			<h2>Партнери</h2>
			<div class="text">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic quaerat rem fuga consequatur ab sed officiis cum et, saepe. A.</p>
			</div>
		</div>
		<div class="item-wrapper">
			<div class="item item-1" style="background:url('{{{about.image-10}}}') no-repeat center/cover fixed"></div>
			<div class="item item-2" style="background:url('{{{about.image-10}}}') no-repeat center/cover fixed"></div>
		</div>
		<div class="logo-wrapper">
			<div class="part part-1">
				{{#about.logo-1}}
				<img src="{{{image}}}" alt="">
				{{/about.logo-1}}
			</div>
			<div class="part part-2">
				{{#about.logo-2}}
				<img src="{{{image}}}" alt="">
				{{/about.logo-2}}
			</div>
		</div>
	</div>
</div>